

.container {
    display: grid;
    grid-template-columns: [first] 40px [line2] 50px [line3] auto [col4-start] 50px [five] 40px [end];
    grid-template-rows: [row1-start] 25% [row1-end] 100px [third-line] auto [last-line];
  }

.grid-item1 {
    grid-column-start: first;
    grid-column-end: span line3;
    grid-row-start: row1-start;
    grid-row-end: span last-line
}
 