<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/main.css">
    <title>New Page</title>
</head>
<body>
    <a class="btn waves-effect waves-light" href="/pokemon">HOME</a>
    <h1>New Page</h1>
    <div class="container">
      <div class="row">
        <div class="col m12">
            <h1>New</h1>
            <form action="/pokemon" method="POST">
              <div class="row">
                <input placeholder="Name" type="text" name="name" id="name" />
              </div>
              <div class="row">
                <input placeholder="img file url" type="text" name="picture" id="picture" />
              </div>
              <div class="row">
                <input placeholder="Type" type="text" name="type" id="type" />
                <input  class="btn waves-effect waves-light" type="submit" value="Make New Pokemon">
              </div>

            </form>
            
        </div>

      </div>

    </div>
</body>


<script type="text/javascript" src="js/materialize.min.js"></script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="app.js"></script>
</html>