/* ==================
     VARS
================ */
:root {
  --light-blue: #92b2ba;
  --light-pink: #f9dde0;
  --med-pink: #f0a8bb;
}
/* ==================
     GENERAL
================ */
body {
  background: whitesmoke;
  font-family: 'Open Sans', calibri;
  margin: 0;
}
/* ================
   NAVIGATION
================ */
nav {
  background: var(--light-blue);
  height: 5em;
  width: 80%;
  margin: 2em auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
nav a {
  color: white;
  text-decoration: none;
  font-family: 'DM Sans', calibri;
  font-weight: 700;
}
/* ================
     HEADER
================ */
header {
  background-image: url(imgs/banner.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--light-pink);
  width: 80%;
  margin: 0 auto;
  min-height: 20em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 2em;
  box-sizing: border-box;
}
header h1 {
  margin: 0;
  font-size: 4em;
  font-family: 'DM Sans';
  color: var(--light-blue);
  text-shadow: 2px 2px white;
}
header h2 {
  margin: 0;
  background: white;
  color: var(--med-pink);
  text-transform: uppercase;
  padding: 0.3em 0.5em;
  font-size: 0.9em;
}
/* ================
      FLOWERS
================ */
.flower-container {
  margin: 2em auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.flower-card {
  width: 32%;
  margin: 1em 0;
  background: white;
  box-shadow: 3px 3px #eee;
  box-sizing: border-box;
}
.flower-card img {
  width: 100%;
}
.flower-info {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1em;
  font-family: 'DM Sans', calibri;
  font-size: 0.85em;
}
.flower-info h3 {
  margin: 0;
  padding: 0;
  color: var(--light-blue);
}
.flower-price {
  background: var(--med-pink);
  color: white;
  font-weight: 700;
  padding: 0.3em;
}
.flower-tags {
  display: flex;
  padding: 0.5em 1em;
}
.tag {
  background: #eee;
  color: #777;
  padding: 0.3em;
  margin-right: 0.8em;
  margin-bottom: 1em;
  font-size: 0.6em;
  text-transform: uppercase;
}
/* ==================
      FOOTER
================ */
footer {
  width: 80%;
  padding: 2em;
  box-sizing: border-box;
  margin: 0 auto 2em auto;
  background: #eee;
  display: flex;
  justify-content: center;
}
.flowerbox-logo img {
  width: 100px;
}
footer > div {
  width: 20%;
  margin: 0 2em;
}
.flowerbox-logo {
  text-align: center;
}
.flowerbox-logo h6 {
  color: var(--med-pink);
}
.socials {
  color: var(--light-blue);
}
footer ul {
  list-style-type: none;
  padding: 0;
}
footer li {
  font-size: 0.8em;
  margin: 0.5em 0;
  font-weight: 300;
  text-transform: uppercase;
  color: #555;
}
footer h3 {
  font-family: 'DM Sans';
  color: var(--light-blue);
}
